body {
    margin: 0;
}

.col-md-1 {

    width: 8.33333333%;
}


.col-md-2 {


    width: 16.66666667%;


}

.col-md-3 {

    width: 25%;
}

.col-md-4 {


    width: 33.33333333%;


}


.col-md-5 {


    width: 41.66666667%;

}

.col-md-6 {

    width: 50%
}


.col-md-7 {




    width: 58.33333333%;
}


.col-md-8 {


    width: 66.66666667%;

}




.col-md-9 {

    width: 75%
}



.col-md-10 {


    width: 83.33333333%;

}




.col-md-11 {


    width: 91.66666667%;

}



.col-md-12 {


    width: 100%;


}

.row {
    display: flex;
    flex-wrap: wrap;


}

.container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;

}




.padding-around {


    padding-right: 40px;

}

.text-center {

    text-align: center;
    justify-content: center;
    align-items: center;

}


.p-cards {
    padding-right: 30px;

}

.text-color {
    text-decoration: none;
    color: #07294D;

}

.yellow-color {

    color: yellow;

}


/*--- css  classes ended---*/

.header-list-logo {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large larger;



}


.top-bar-list {

    list-style-type: none;

}




.top-bar-list li {



    display: inline-block;
    padding-left: 5px;
}


.top-bar {


    background-color: #07294D;
    color: white;
}

.top-bar-font {

    font-family: 'Courier New', Courier, monospace;
    font-size: small;


}

.top-bar-p {

    text-align: end;
    padding-right: 5px;


}

.header-list {

    list-style-type: none;


}


.header-list li {

    display: inline-block;
    padding-left: 10px;


}



.header {

    color: #07294D;

}

.header-logo {}

.header-1st-logo-list {


    padding-top: -30px;


}

.header-btn {


    margin-left: 56px;
    padding: 10px 20px;
    background-color: yellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    border-radius: 10px;
    border: none;
    text-decoration: none;
}


.header-2nd-logo-list {

    padding-left: 136px;
    padding-top: 8px;


}



.menu-bar-list {

    list-style-type: none;

    text-align: end;


}

.btn {}

.menu-bar-list li {

    display: inline-block;


    padding-right: 43px;


}


.menu-bar-list-font {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    color: #07294D;
}



.menu-bar-icon-list {

    list-style-type: none;

    text-align: end;


}
.menu-line{

display: none;

}

.menu-bar-icon-list li {


    display: inline-block;
    padding-right: 5px;


}


.hero {


    
}

.hero-h1-padding {
    padding-top: 100px;
    padding-left: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    color: white;


}

.overlay-hero {
    opacity: 3;
}

.hero-para-padding {


    padding-left: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    color: white;

}



.hero-btn-list {


    list-style-type: none;
padding-bottom: 200px;

}

.hero-border {
    border-radius: 10px;

}

.hero-btn-list li {

    display: inline-block;

}


.header-btn-1-hero {

    padding: 10px 20px;
    background-color: yellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    border-radius: 10px;
    text-decoration: none;
    border: none;

}


.header-btn-2-hero {
    position: relative;
    left: 5px;
    padding: 10px 20px;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    border-radius: 10px;
    text-decoration: none;

}

.hero-2nd-row {
    background-color: #07294D;
    margin-left: 40px;
    border-radius: 10px;
    padding-left: 40px;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-right: 40px;
}


.hero-card-row {
    padding-left: 100px;
    position: relative;
    left: 0px;

}

.hero-2nd-row-h1 {

    padding-top: 40px;


}


.hero-2nd-row {

    position: relative;
    top: -150px;

}


.second-hero-h1 {



    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;

}


.second-hero-padding {


    margin-left: 40px;


}


.second-hero-list {

    list-style-type: none;
    padding-left: 0px;
    text-align: start;



}

.second-hero-list li {

    display: inline-block;
    padding-left: 5px;
}


.hero-2-card-h1 {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    padding-left: 10px;

}

.hero-2-card-h2 {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    padding-left: 10px;


}

.hero-2-card-p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    padding-left: 10px;
    color: grey;
}


.second-hero-btn {


    padding: 10px 20px;
    background-color: yellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    border-radius: 10px;
    text-decoration: none;
    margin-bottom: 50px;
    border: none;
}

.fall-btn {
    padding: 10px 20px;
    background-color: yellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    border-radius: 10px;
    text-decoration: none;




}

.schlorship-btn {
    padding: 10px 20px;
    background-color: yellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    border-radius: 10px;
    text-decoration: none;
    border: none;
    margin-bottom: 50px;


}

.second-hero-background {

    border: 2px solid black;
    background-color: white;
    margin-top: 50px;

    margin-bottom: 50px;
}

.time-padding {}

.padding-top-hero {


    margin-top: 150px;

}


.apply-padding {
    background-color: #07294D;
    color: white;
    margin-left: 40px;
    margin-top: 50px;
    margin-right: 50px;

}

.apply-border {

    border: 2px solid black
}






.courses-card-row {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 60px;




}

.courses-padding {


    margin-left: 40px;
    margin-top: 50px;
    margin-right: 50px;
    font-weight: 700;

}


.courses-h1 {


    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;


}


.featured-background-color {


    background-color: lightgrey;
}

.featured-cards {

    position: relative;
    left: 50px;


}

.courses-card-row {

    padding-bottom: 100px;
}



.facilities-list {

    list-style-type: none;


}

.facilities-list li {


    display: inline-block;
    padding-right: 20px;
}

.facilities-h1 {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    padding-top: 30px;
    padding-left: 70px;
}

.fecilities-h2 {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;


}


.fecilities-list-p {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-small;

}



.facilities-overlay {
    background-color: #07294D;

    color: white;
    opacity: 0.8;



}


.teachers-row-padding {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}


.teachers-cards {

    border-radius: 10px;
    margin-left: 50px;
    margin-top: 30px;

}


.testimonial-row {

    padding-left: 40px;
    padding-right: 40px;
    padding-top: 150px;
    padding-bottom: 100px;

}


.testimonial-h2-padding {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    padding-left: 40px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-small;

}




.testimonial-h1 {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    font-weight: 400;




}

.testimonial-h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;


}

.testimonial-img-padding {

    padding-top: 10px;
    padding-left: 20px;

}

.testimonial-2row {


    padding-top: 113px;

}


.teachers-h1 {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    font-weight: 400;


}

.teachers-h2 {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;



}

.About-p {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    font-weight: 400;

}


.courses-p {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    font-weight: 400;



}


.testimonial-overlay {
    background-color: #07294D;

    color: white;
    opacity: 0.9;



}


.news-h1 {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    font-weight: 400;

}

.news-h2 {


    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;



}


.news-row-1 {

    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;

}



.news-img-time {



    color: grey;


}


.news-row-2 {

    padding-left: 40px;
padding-bottom: 40px;



}


.news-p {


    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-small;




}


.news-row-3 {


    padding-top: 40px;
}


.news-2-img-padding {

    border-radius: 10px;
    margin-left: 30px;


}

.news-p1-padding {

    padding-left: 50px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-small;



}



.news-h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    padding-left: 50px;
    margin-top: -1px;


}


.footer-p {


    padding-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
}


.footer-h1 {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    padding-left: 40px;
    padding-top: 25px;


}



.footer-sitemap-list {


    list-style-type: none;




}

.footer-sitemap-list li {

    display: inline-block;
}


.footer-support-list {


    list-style-type: none;


}

.footer-support-list li {

    display: inline-block;
}



.footer-contact-list {

    list-style-type: none;

}

.footer-contact-list li {

    display: inline-block;
}


.footer {

    background-color: #07294D;
    color: white;


}

@media  (max-device-width:600px) {
    .col-md-1 {

        width: 100%;
    }


    .col-md-2 {


        width: 100%;


    }

    .col-md-3 {

        width: 100%;
    }

    .col-md-4 {


        width: 100%;

    }


    .col-md-5 {

        width: 100%;
    }

    .col-md-6 {

        width: 100%;

    }


    .col-md-7 {




        width: 100%;
    }


    .col-md-8 {


        width: 100%;

    }




    .col-md-9 {

        width: 100%;


    }



    .col-md-10 {


        width: 100%;
    }




    .col-md-11 {


        width: 100%;

    }



    .col-md-12 {


        width: 100%;


    }

    .menu-line{
text-align: center;
display: block;
padding-left: 350px;
margin-top: -50px;

    }

    .basket-icon{

display: none;


    }


   

    .card-2-featured {

margin-left: 0px;



    }
    .card-2nd-img{

position: relative;
left: -50px;
padding-top: 30px;
padding-bottom: 30px;

    }

    .menu-bar-list{

display: none;

    }
    

    .header-2nd-logo-list{

display: none;



    }

    .top-bar{

display: none;

    }

   
   


    .container{


        width: 100%;
    }



    .second-hero-padding {
        margin-left: 10px;
    }

    .text-center-mobile-responsive{

text-align: center;

    }



    .teachers-cards {
        border-radius: 10px;
        margin-left: 0px;
        margin-top: 30px;
    }



    .testimonial-img-padding {
        padding-top: 10px;
         padding-left: 0px;
    }


    .news-row-2 {
         padding-left: 0px;
        padding-bottom: 40px;
    }


    .news-2-img-padding {
        border-radius: 10px;
         margin-left: 0px; 
    }

    .hero-para-padding {
        padding-left: 40px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: small;
        color:white;
        
    }



    .hero-2nd-row {

        position: relative;
        top: 0px;
    
    }


    .hero-2nd-row {
        background-color: #07294D;
         margin-left: 0px; 
        border-radius: 0px;
        padding-left: 40px;
        color: white;
        padding-top: 30px;
        padding-bottom: 30px;
         margin-right: 0px; 
    }


    .hero-card-row {
         padding-left: 0px; 
       
    }



    .hero-btn-list {
        list-style-type: none;
        padding-bottom: 30px;
    }
    .header-list {
        list-style-type: none;
        padding-left: 0%;
    }
    .padding-top-hero {
        margin-top: 0px;
        padding-left: 40px;
        padding-right: 40px;
    }


    .p-cards {
        padding-right: 40px;
    }

    .hero-h1-padding {
      
        padding-left: 40px;
        padding-right: 40px;
}
.hero-para-padding {
    padding-left: 40px;
    padding-right: 40px;
    
}

.padding-around {
    padding-right: 40px;
    padding-left: 40px;
}


.header-list {
    list-style-type: none;
    padding-left: 0%;
    margin-top: 0px;
    margin-bottom: 0px;
}
.menu-line {
    text-align: center; 
    display: block;
    padding-left: 310px;
    margin-top: -40px;
}


.hero-2nd-row-h1 {
     padding-top: 0px; 

}

.top-gap-between-cards{


    padding-top: 30px;
   

}



.gap-bottom {



    padding-bottom: 30px;


}
.second-hero-h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
}


.news-p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-small;
    ;
}


.testimonial-row {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
}

  .news-h3{


  }
  .news-img-time {
    color: grey;
  
}
.testimonial-2row {
    padding-top: 20px;
}
.testimonial-h2-padding {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
     padding-left: 0px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
} 
.apply-p-padding{


    padding-left: 40px;
    padding-right: 40px;
    word-spacing: 5px;
}

.apply-h1-padding{

    padding-top: 40px;


}

.second-hero-background {


    padding-left: 40px;
    margin-top: 0px;
}
.hero-2-card-h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    
}


.second-hero-list li {
    display: inline-block;
    padding-left: 0px
}

.news-1-img{


margin-left: 40px;
margin-right: 40px;



}

.news-p1-padding {
    padding-left: 50px;

    padding-right: 40px;
}
.footer-logo-padding{

padding-left: 30px;

}


.About-p {
    
    padding-top: 30px;
}

.hero-2nd-row-h1 {
    padding-top: 0px;
    font-size: xxx-large;
}

}





